rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /rankings/{record} { allow read: if true; allow write: if false; }
    match /profiles/{uid} { allow read: if request.auth != null; allow write: if false; }
    match /nicknames/{name} { allow read, write: if false; }
    match /runs/{run} { allow read, write: if false; }
  }
}
